.game__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  &--list {
    overflow-y: scroll;
    align-items: flex-start;
    width: 100%;
    .result-list__header {
      margin-left: 1rem;
      margin-top: 1rem;
      &--correct {
        color: green;
      }
      &--error {
        color: red;
      }
    }
    .result-list__item {
      margin-left: 10px;
      display: flex;
      margin-top: 3px;
      .result-list__item--bold {
        font-weight: 700;
      }
    }
  }
  span {
    margin: 0 5px;
  }
}