@keyframes flow {
  0% {
    transform: translateY(-45vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes flow {
  0% {
    transform: translateY(-45vh);
  }

  100% {
    transform: translateY(0);
  }
}

.flow-animation {
  animation: flow 4s linear;
}

.word-hidden {
  visibility: hidden;
}

.word-correct {
  background-color: green;
}

.word-wrong {
  background-color: red;
}

.savannah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 130px - 94px);
  background-color: #00695c;

  &__word {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }

  &__translation {
    width: 100%;
    text-align: center;
  }

  &__translation-list {
    display: flex;
    justify-content: center;
  }

  &__translation-item {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    color: #fff;

    & > * {
      cursor: pointer;
    }
  }
}
