@keyframes flow {
  0% {
    top: -50%;
    transform: translateY(50%);
  }

  100% {
    top: 0;
  }
}

.flow-animation {
  animation: flow 5s linear;
  animation-fill-mode: forwards;
}

.word-hidden {
  visibility: hidden;
}

.word-correct {
  background-color: green;
}

.word-wrong {
  background-color: red;
}

.savannah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 130px - 94px);
  background: url("../../../data/images/savannah-bg.jpg") no-repeat;
  background-position-y: bottom;
  // background-position: left 0 bottom 0;
  // animation: bg-scroll 1s linear;

  &__word {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }

  &__translation {
    width: 100%;
    text-align: center;
  }

  &__translation-list {
    display: flex;
    justify-content: center;
  }

  &__translation-item {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    color: #fff;

    & > * {
      cursor: pointer;
    }
  }
}
