.side-menu {
  height: 100vh;
  background-color: $yellow-color;

  width: 0;
  min-width: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  box-shadow: 4px 4px 4px 4px $default-color;
  transition: all .5s ease;

  &:hover {
    box-shadow: 4px 4px 4px 6px $default-color;
  }

  &__list {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 150px);
  }

  &__item {
    &--login {
      margin-top: auto;
      margin-bottom: 20px;
    }
    
    a, span {
      padding: 20px 0;
      padding-left: 60px;
      display: block;
      min-width: 200px;
      width: 100%;
      cursor: pointer;

      font-size: 24px;
      line-height: 28px;
      transition: background-color .2s ease-in-out;

      &:hover {
        background-color: rgba(white, .3);
      }

      &.active {
        background-color: rgba(white, .5);

        &:hover {
          cursor: default;
          background-color: none;
        }
      }
    }
  }

  &--auth {
    background-color: $green-color;
  }

  &--show {
    width: 25%;
    min-width: 250px;
  }
}
