.side-menu {
  height: 100vh;
  background-color: $yellow-color;

  width: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;

  transition: width .5s;

  &__list {
    margin-left: 60px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 150px);
  }

  &__item {
    padding: 20px 0;

    &--login {
      margin-top: auto;
      margin-bottom: 20px;
    }

    a {
      display: block;
      min-width: 200px;
      width: 100%;

      font-size: 24px;
      line-height: 28px;
    }
  }








  &--show {
    width: 25%;
  }
}
