.constructor {
  background: url('../../../data/images/bg-ownGame.png') 100%/cover no-repeat;
  min-height: calc(100vh - 14rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    .constructor-header__icons {
      color: white;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
      &--sound {
        margin-left: 12.5rem;
      }
      &--fullscreen {
        margin-left: 2rem;
        margin-right: calc(100% - 45rem);
      }
      &--close {
        margin-left: 2rem;
        margin-right: 12.5rem;
      }
    }
  }
  &__body {
    background: rgba(227, 227, 227, 0.87);
    width: 40rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(50vh - 24rem);
    .constructor-body-game__translate {
      font-size: 2em;
      margin-top: 2rem;
      font-weight: bold;
    }
    .constructor-body-game__service {
      font-size: 1rem;
      width: 12.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .constructor-body-game__letters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      &--question {
        height: 12.5rem;
      }
      .letter {
        width: 2.25rem;
        height: 2rem;
        border: 2px dashed $constructor-color;
        background: white;
        margin: 0.25rem;
        text-align: center;
        padding-top: 0.25rem;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: 0 0 0.7em rgba(0,0,0,0.5);
          cursor: pointer;
        }
        &--close {
          color: transparent;
          &:hover {
            box-shadow: none;
          }
        }
        &--open {
          border: 2px dashed $correct-color;
        }
        &--question {
          background: $constructor-color;
          border: none;
        }
        &--solved {
          opacity: 0;
        }
        &--error {
          animation: error-constructor 1s linear 0s;;
        }
        @keyframes error-constructor {
          0% {
            background: $constructor-color;
          }
          50% {
            background: $error-color;
          }
          100% {
            background: $constructor-color;
          }
        }
      }
    }
    .constructor-body-game__card {
      height: 12.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      img {
        height: 6.25rem;
      }
      p {
        margin: 0 1rem;
      }
    }
    .constructor-body-game__control {
      display: flex;
      width: 12.5rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-end;
        justify-content: space-evenly;
        height: 2.5rem;
        width: 7.5rem;
        background: $yellow-color;
        &:hover {
          cursor: pointer;
          background: none;
          box-shadow: 2px 2px 0px 0px $yellow-color inset, -2px -2px 0px 0px $yellow-color inset;
        }
      }
    }
  }
}

@media (max-width: $middle-width) {
  .constructor {
    &__header {
      height: 4rem;
      .constructor-header__icons {
        font-size: 2rem;
        &--sound {
          margin-left: 7.5rem;
        }
        &--fullscreen {
          margin-left: 2rem;
          margin-right: calc(100% - 35rem);
        }
        &--close {
          margin-left: 2rem;
          margin-right: 7.5rem;
        }
      }
    }
    &__body {
      width: 40rem;
    }
  }
}

@media (max-width: $tablet-width) {
  .constructor {
    &__header {
      height: 4rem;
      .constructor-header__icons {
        font-size: 2rem;
        &--sound {
          margin-left: 5rem;
        }
        &--fullscreen {
          margin-left: 2rem;
          margin-right: calc(100% - 30rem);
        }
        &--close {
          margin-left: 2rem;
          margin-right: 5rem;
        }
      }
    }
    &__body {
      width: 40rem;
    }
  }
}

@media (max-width: $mobile-width) {
  .constructor {
    &__header {
      height: 4rem;
      .constructor-header__icons {
        font-size: 2rem;
        &--sound {
          margin-left: 3rem;
        }
        &--fullscreen {
          margin-left: 2rem;
          margin-right: calc(100% - 26rem);
        }
        &--close {
          margin-left: 2rem;
          margin-right: 3rem;
        }
      }
    }
    &__body {
      width: 80%;
    }
  }
}

@media (max-height: 840px) {
  .constructor__body {
    margin: 1rem 0 2rem;
  }
}