.main-page {
  padding: 0 12.31% 238px;

  &__promo {
    position: relative;
    z-index: 2;
  }

  &__title {
    width: 709px;
    margin-top: 65px;
    margin-bottom: 0;
    font-size: 86px;
    font-weight: 600;
    line-height: 86px;
  }

  &__description {
    width: 544px;
    margin-top: 36px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  &__video-btn {
    margin-top: 70px;
    background-color: #fff;
    border: 2px solid #323232;

    &:hover {
      background-color: #f7cc7e;
    }
  }

  &__bg-wrapper {
    position: absolute;
    right: 9.18%;
    top: 298px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 766px;
    height: 568px;
    background: url(../../data/images/bg-image-main.png) no-repeat;  
  }
  
  &__nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 577px;
  }
}




