.percent {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  .morph-shape {
    width: 150px;
    height: 150px;
    background: #F57359;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 2rem;
    svg {
      top: 20px;
      position: absolute;
      z-index: 1;
    }
    .result {
      position: absolute;
      color: #323232;
      z-index: 2;
      margin: 45px 15px 0;
      font-size: 45px;
      width: 120px;
      font-weight: bold;
      text-align: center;
    }
  }
}