.morph-shape {
  width: 150px;
  height: 150px;
  background: #51BFA6;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 2rem;
  svg {
    top: 20px;
    position: absolute;
    z-index: 1;
  }
  .result {
    position: absolute;
    color: greenyellow;
    z-index: 2;
    margin: 45px 15px 0;
    font-size: 45px;
    width: 120px;
    font-weight: bold;
    text-align: center;
  }
}