@mixin button-unit {
  border: none;
  cursor: pointer;
  color: white;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@mixin body-text-sm {
  font-size: 18px;
  font-weight: 500;
}

@mixin body-text-l {
  font-size: 24px;
  font-weight: 500;
}

@mixin body-text-xl {
  font-size: 30px;
  font-weight: 500;
}

@mixin title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 50px 0;
  text-align: center;
}

@mixin button-default {
  background-color: #fff;
  border: 2px solid #323232;

  &:hover {
    background-color: #f7cc7e;
  }
}