$desktop-width: 1200px;
$middle-width: 1000px;
$tablet-width: 768px;
$mobile-width: 640px;


$default-color: #323232;
$secondary-color: #5F5F5F;
$disabled-color: #C1C1C1;
$yellow-color: #F7CC7E;
$orange-color: #F57359;
$green-color: #3C8F7D;
$light-blue-color: #9CC0FA;
$blue-color: #466EB6;
$light-green-color: #96D8CA;
$pink-color: #F7A492;
$white-color: #FFFFFF;

$constructor-color: #f7cc7e;
$savahna-color: #51bfa6;
$audio-color: #184656;
$sprint-color: #f57359;

$red-color: #DF644C;
$dark-blue-color: #45558A;
$dark-green-color: #00BF97;
