body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: $default-color;
}

#root {
  background: url(../../data/images/dashed-line.svg) no-repeat;
  background-size: contain;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $default-color;
}

p {
  margin: 0;
}

label {
  font-size: 18px;
  font-weight: 500;
}

.btn {
  width: 180px;
  height: 55px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}