.game-sprint {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 1rem;
  &__timer {
    margin-left: 1rem;
    .time-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      font-weight: 700;
      color: #151515;
    }
  }
  &__body {
    border: #151515 solid 1px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &__button-close {
    margin-right: 1rem;
  }
}