.word-correct {
  background-color: rgba(0, 191, 151, 0.55);
}

.word-wrong {
  background-color: rgba(207, 35, 0, 0.55);
}

.audio-challenge {
  background: url("../../../data/images/savannah-bg.jpg") no-repeat;
  background-position-y: bottom;
  background-position-x: center;

  &__word {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    fill: #fff;
    cursor: pointer;
  }
}

.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 69.4%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  color: #fff;

  &__btn{
    margin-top: 60px;
    background-color: $yellow-color;
  }
}
