.word-correct {
  background-color: rgba(0, 191, 151, 0.55);
}

.word-wrong {
  background-color: rgba(207, 35, 0, 0.55);
}

.audio-challenge {
  background: url("../../../data/images/savannah-bg.jpg") no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}
