.word-correct {
  background-color: rgba(0, 191, 151, 0.55);
}

.word-wrong {
  background-color: rgba(207, 35, 0, 0.55);
}

.audio-challenge {
  &.minigames {
    background: url("../../../data/images/audiochallenge-bg.jpg") no-repeat;
    background-position-y: center;
    background-position-x: center;
  }

  &.minigames__translation-list {
    top: 47.5%;
  }

  &__word {
    position: absolute;
    top: 26.1%;
    left: 50%;
    transform: translateX(-50%);
    fill: #fff;
    cursor: pointer;
  }

  &__button {
    position: absolute;
    top: 58.9%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #846686;
    color: #846686;
  }
}

.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 69.4%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  color: #fff;

  &__btn {
    margin-top: 60px;
    background-color: $yellow-color;
  }
}
