@keyframes flow {
  0% {
    transform: translateY(-45vh);
  }

  100% {
    transform: translateY(0);
  }
}

.flow-animation {
  animation: flow 5s linear;
}

.hidden {
  visibility: hidden;
}

.savannah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 88vh;
  background-color: #00695c;

  &__word {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }

  &__translation {
    width: 100%;
    text-align: center;
  }

  &__translation-list {
    display: flex;
    justify-content: center;
  }

  &__translation-item {
    display: inline-block;
    padding: 0 20px;
    color: #fff;

    & > * {
      cursor: pointer;
    }
  }
}
