.footer {
  background-color: #41d974;

  &__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
  }

  &__github-members {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;
    }

    & > * {
      padding: 0 10px;
    }
  }

  &__copyright {
    color: black;

    img {
      width: 10px;
      padding-right: 5px;
    }
  }
}