.tutorial {
  display: flex;
  width: $desktop-width;
  margin: 0 auto 73px auto;

  &__groups {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__description {
    width: 600px;

    &__title {
      font-weight: 500;
    }

    & > * {
      padding: 10px 0;
    }
  }

}

.group {

  &__title {
    font-size: 70px;
    line-height: 85px;
    padding-right: 20px;
  }

  &__description {
    font-size: 25px;
    font-weight: bold;
  }

  &--0 {
    background-color: $light-green-color;
  }

  &--1 {
    background-color: $green-color;
  }

  &--2 {
    background-color: $pink-color;
  }

  &--3 {
    background-color: $orange-color;
  }

  &--4 {
    background-color: $light-blue-color;
  }

  &--5 {
    background-color: $blue-color;
  }
}

.group-btn {
  width: 420px;
  padding: 0 28px;
  margin: 8px;
  @include button-unit;

  @media (max-width: $middle-width) {

  }
  @media (max-width: $tablet-width) {

  }
}
