.tutorial {

  &__groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: $desktop-width;

    @media (max-width: $middle-width) {
      justify-content: center;
    }

    & > * {
      width: 22%;
      margin: 20px 30px;
      @include button-unit;

      &:active {
        box-shadow: none;
      }

      @media (max-width: $middle-width) {
        width: 30%;
        min-height: 170px;
      }
      @media (max-width: $tablet-width) {
        width: 35%;
        min-height: 200px;
        margin: 20px;
      }
    }
  }

}

.group {

  &__title {
    color: white;
    font-size: 35px;
    text-shadow: 0 0 2px $default-color;
  }

  &__description {
    font-size: 25px;
    font-weight: bold;
  }

  &--0 {
    background-color: $purple-color;
  }

  &--1 {
    background-color: $green-color;
  }

  &--2 {
    background-color: $light-green-color;
  }

  &--3 {
    background-color: $yellow-color;
  }

  &--4 {
    background-color: $orange-color;
  }

  &--5 {
    background-color: $pink-color;
  }
}
