.main-page-nav {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 577px;
    margin-left: 19px;
  }
  
  &__item {
    &:hover > a {
      color: #e0b465;
    }
  }
}

@media (max-width: $tablet-width) {
  .main-page-nav {
    &__list {
      width: 460px;
      margin-left: 19px;
    }
    
  }
}