.group {
  width: $desktop-width;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.page-item {
  width: 18%;
  margin: 10px;
  @include button-unit;

  @media (max-width: $tablet-width) {
    width: 26%;
  }

  p {
    font-size: 30px;
  }
}
